* {
  margin: 50;
  text-align: center;
}

.table {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#users_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#users_table td,
#users_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users_table tr:hover {
  background-color: #ddd;
}

#users_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
